.Tag{
    margin: 0px 4px 4px 0px;
    position: relative;
    border-left: 14px;
    margin-bottom: 4px;
    padding: 6px 8px 6px 18px;
    border-radius: 6% / 18px;
}

.Tag .close{
    top: 50%;
    left: 4px;
    color: var(--black);
    font-size: 10px;
    margin-top: -5px;
    position: absolute;
}
