button{
  padding: 0px;
  outline: none;
  border: none;
  background: transparent;
}

.sideBarOptions{
  width: 50px;
  background: var(--white);
}

.sideBarOptions button{
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.--selected{
  background: var(--light-blue);
}
.--selected i{
  color: var(--white);
}
