.Content {
  width: calc(100% - var(--sidebar-width));
  box-sizing: border-box;
  padding: 20px 20px 20px 0px;
  margin-left: var(--sidebar-width);
}

.tagList {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
}

.tagList .autoComplete {
  max-width: 200px;
  margin-right: 4px;
}
