.Tooltip {
  left: 50%;
  width: 200px;
  font-size: 14px;
  color: var(--white);
  padding: 6px 10px;
  position: absolute;
  border-radius: 6px;
  margin-left: -100px;
  word-break: break-all;
  box-sizing: border-box;
  background: var(--black);
  bottom: calc(100% + 8px);
  transition-delay: 0.5s;
  transition: transform 0.2s;
  transform: translate3d(0, 10px, 0) rotate3d(0, 0, 1, 5deg);
}

.Tooltip::before {
  content: '';
  width: 0;
  height: 0;
  left: 10px;
  bottom: -5px;
  position: absolute;
  border-top: 6px solid var(--black);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.show {
  transform: translate3d(0, 0, 0);
}
