.card{
  --num-cards: 3;
  --icon-size: 18px;
  --cards-margin: 10px;
  --elemts-margin-top: 10px;

  display: flex;
  padding: 10px;
  font-size: 16px;
  color: var(--gray);
  transition: all .5s;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
  margin: calc(var(--cards-margin) / 2);
  width: calc(100% / var(--num-cards) - var(--cards-margin));
}

.card div:empty{
  display: none;
}

.linkTitle{
  width: 100%;
  text-decoration: none;
}

.contDescription{
  width: 100%;
  position: relative;
}

.description{
  font-size: 14px;
  overflow: hidden;
  max-height: 82px;
}

.linkTitle, .description, .card_options, .contTags{
  margin-top: var(--elemts-margin-top);
}

.contTags{
  width: 100%;
}

.card_options{
  width: 60px;
}

.material-icons.iconHover{
  opacity: 0.8;
  color: var(--blue);
  font-size: var(--icon-size);
}

.iconHover:hover{
  opacity: 1;
}

.--removed{
  width: 0px;
  margin: 0px;
  height: 0px;
  padding: 0px;
  overflow: hidden;
}
.loading{
  width: 24px;
  margin: 6px;
  height: 24px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.loading::before{
  /* content: ''; */
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  border: 4px solid var(--light-gray-4);
}

.loading::after{
  /* content: ""; */
  position: absolute;
  top: 48%;
  left: -6px;
  width: 4px;
  height: 4px;
  margin: -2px 0 0 0;
  border-radius: 50%;
  background: var(--gray);
  transform-origin: 18px 50%;
  animation-duration: 5s, 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1, infinite;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease, linear;
  /* animation-name: anim-effect-simo-3; */
  animation-name: anim-effect-simo-2, anim-effect-simo-3;
}

@keyframes anim-effect-simo-2 {
	0%, 5%, 95%, 100% {
		opacity: 0;
	}
	10%, 90% {
		opacity: 1;
	}
}

@keyframes anim-effect-simo-3 {
	100% {
		-webkit-transform: rotate3d(0, 0, 1, 360deg);
		transform: rotate3d(0, 0, 1, 360deg);
	}
}

