.createLink {
  outline: none;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}

.--margin-top {
  margin-top: var(--elemts-margin-top);
}

.createLink .createLink__contInputs {
}

.createLink__contInputs__title {
}

.createLink__contTags {
  width: 100%;
}

.createLink__contTags .autoComplete {
  width: 200px;
  margin-right: 10px;
}
