.MyFavorites{
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  
  --black : #000;
  --white : #fff;
  --red : #ed5355;
  --blue : #193847;
  --gray : #858585;
  --orange : #ee8d38;
  --light-gray : #b9b9b9;
}
