.createLink{
    width: 100%;
    padding: 12px;
    outline: none;
    text-align: center;
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid var(--light-gray);
}

.createLink .createLink__contInputs{
    width: 90%;
}

.createLink__contTags{
    width: 100%;
    margin-top: 10px;
}

.createLink__contTags .autoComplete{
    width: 200px;
    margin-right: 10px;
}

.createLink button{
    padding: 10px;
    margin-left: 10px;
    color: var(--white);
    background: var(--blue);
    box-sizing: border-box;
    width: calc(10% - 10px);
}
