.Tag{
    display: flex;
    font-size: 12px;
    border-left: 14px;
    width: fit-content;
    position: relative;
    color: var(--black);
    align-items: center;
    margin: 0px 4px 4px 0px;
    border-radius: 6% / 18px;
    padding: 6px 8px 6px 18px;
}

.Tag .close{
    left: 4px;
    font-size: 10px;
    position: absolute;
    color: var(--black);
}
